<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="CadenaConexion" value="Data Source=Jose-VAIO;DataBase=GalletasSuerte;Connect Timeout=30;Integrated Security=True"/>-->
		<add key="CadenaConexion" value="Server=127.0.0.1;Database=bd_ransanet;Uid=root;Pwd=123;Port=3306;"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>


	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="UsuarioRansaServiceImplSoap11Binding" />
   </basicHttpBinding>
   <customBinding>
    <binding name="UsuarioRansaServiceImplSoap12Binding">
     <textMessageEncoding messageVersion="Soap12" />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://visitasadm.inpe.gob.pe/ServicioRansaNetWs/services/UsuarioRansaServiceImpl.UsuarioRansaServiceImplHttpSoap11Endpoint/"
    binding="basicHttpBinding" bindingConfiguration="UsuarioRansaServiceImplSoap11Binding"
    contract="Ws_RansaNet.UsuarioRansaServiceImplPortType" name="UsuarioRansaServiceImplHttpSoap11Endpoint" />
   <!--<endpoint address="http://visitasadm.inpe.gob.pe/ServicioRansaNetWs/services/UsuarioRansaServiceImpl.UsuarioRansaServiceImplHttpSoap12Endpoint/"
    binding="customBinding" bindingConfiguration="UsuarioRansaServiceImplSoap12Binding"
    contract="Ws_RansaNet.UsuarioRansaServiceImplPortType" name="UsuarioRansaServiceImplHttpSoap12Endpoint" />-->
  </client>
  <behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>
